<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.sweeper.car.dao.MapDAO">

	<select id="carlist" resultType ="Hashmap">
		select * from car;
	</select>
	
	<select id="searchcar" parameterType="HashMap" resultType="HashMap">
		SELECT
		  (SELECT TO_CHAR(MAX("time")::time - MIN("time")::time, 'HH24:MI:SS') AS timediff
		   FROM points
		   WHERE car_num = #{car_num} AND "date" = #{date}) AS "time",
		  (SELECT 
		      CASE 
		        WHEN (SELECT COUNT(*) FROM points WHERE car_num =#{car_num} AND "date" = #{date}) = 0 
		        THEN null
		        ELSE TRUNC((COUNT(*)::float / (SELECT COUNT(*) FROM points WHERE car_num =#{car_num} AND "date" = #{date})*100)::numeric, 2)
		      END
		   FROM points
		   WHERE car_num =#{car_num} AND "date" = #{date} AND noise >= 90 AND frequency >= 120) AS ratio;
	</select>
</mapper>